.navbar{
    width: 100%;
    background:darkblue;
    background-size: cover;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1324px){
    .product_content{
        width: auto;
    }
    .product_content > div {
        width: 260px;
    }

    .footerTop,
    .footerBottom{
        width: auto;
    }
    .mainHead{width: 100%;}
    .headRightMEnu .containerCity{
        left: inherit;
        right:0px;
    }.h1{
         width:100%; position: relative
     }
}


@media screen and (max-width: 924px){
    .oneProducts{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 724px){
    nav{
        position: relative;width: 100%;
    }
    nav ul li a{
        padding: 20px;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
    }
    nav ul{
        display: flex;
        list-style: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    nav > div{
        color: red;
        display: none;
        position: absolute;
        left: 0px;
        top:50px;
        z-index: 1200;
        width: 100%;
        background: blue;
    }
    nav .menu{
        display: block;transition: all 1s;
    }
    .footerTop,
    .footerBottom{
        font-size: 13px;
    }
}
@media screen and (max-width: 654px){
    .footerTop,
    .footerBottom{
        flex-wrap: wrap;
        font-size: 15px;

    }
    .lastUl{
        align-items: flex-start;padding-left: 80px
    }
    .mainHead{
        width: auto;
        justify-content: center;
        flex-direction: column;
        margin-bottom: -30px;
    }
    .mainHead > div{
        margin-bottom: 20px;
    }
    .headCenter{
        width: 100%;
    }
    .headRight{
        width: auto;
    }
    .headRightMEnu .containerCity{
        width: 250px;
        left:-64px;
        right:inherit;
    }
    .h1{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.1);
        margin-bottom: -20px;
    }
    .h1 a.button{
        margin-top: 20px;
        position: static;
    }
}
@media screen and (max-width: 554px){
    .footerTop ul{
        width: 100%;
        align-items: center;
        margin-left: -30px;
        text-align: center;
        font-size: 10px;
    }
    .lastUl{
        align-items: flex-start;padding-left: 30px
    }
    .productInf{
        width: 100%;
    }
    .productInf ul{
        margin-left: 0px;
        padding: 20px;
        width: 90%;
    }
    .productInf li,.productInf li:last-child{
        padding: 20px 20px;
        float: none;
    }.productInf li:last-child{margin-bottom: -100px;}
    .productImg{
        width: 300px;
        height: 300px;
        margin-left: 40px;
    }
}
